/* ----------Base Settings---------- */

:root {
    /*Typography */

    --font-size-1: 1.2rem;
    --font-size-2: 1.4rem;
    --font-size-3: 1.6rem;
    --font-size-4: 1.8rem;
    --font-size-5: 2rem;
    --font-size-6: 2.4rem;
    --font-size-7: 2.8rem;
    --font-size-8: 3.2rem;
    --font-size-9: 4rem;
    --font-size-10: 4.8rem;
    --font-size-11: 6rem;
    --font-size-12: 7.6rem;

    --line-height-1: 1.6rem;
    --line-height-2: 1.8rem;
    --line-height-3: 2.4rem;
    --line-height-4: 3rem;
    --line-height-5: 3.2rem;
    --line-height-6: 3.6rem;
    --line-height-7: 4rem;
    --line-height-8: 4.8rem;
    --line-height-9: 5.6rem;
    --line-height-10: 6.4rem;
    --line-height-11: 7.6rem;
    --line-height-12: 9.2rem;

    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;

    /* Spacing Sizing */

    --spacing-1: 0.2rem;
    --spacing-2: 0.4rem;
    --spacing-3: 0.8rem;
    --spacing-4: 1.2rem;
    --spacing-5: 1.8rem;
    --spacing-6: 2.4rem;
    --spacing-7: 3.2rem;
    --spacing-8: 4rem;
    --spacing-9: 4.8rem;
    --spacing-10: 6.4rem;
    --spacing-11: 8rem;
    --spacing-12: 9.6rem;
    --spacing-13: 11.2rem;
    --spacing-14: 12.8rem;

    --logo-big-height: 4.8rem;
    --logo-small-height: 4rem;
    --btn-lg-height: 6rem;
    --btn-sm-height: 5.2rem;

    /* Colors */

    --blue-10: #e5f1ff;
    --blue-20: #cce3ff;
    --blue-90: #377dff;
    --blue-100: #1366ff;
    --green-10: #eafaf3;
    --green-100: #2dca8c;
    --yellow-10: #fff2d8;
    --yellow-100: #ffbe3d;
    --watermelon-pink-10: #ffe3de;
    --watermelon-pink-100: #ff715b;
    --white: #ffffff;

    --text-color-10: #b0b7c3;
    --text-color-20: #8a94a6;
    --text-color-30: #4e5d78;
    --text-color-40: #323b4b;

    --bg-color-10: var(--white);
    --bg-color-20: #fafbfc;
    --bg-color-30: #f3f3f3;
    --bg-color-40: #c1c7d0;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    position: relative;
}

html,
body {
    -webkit-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

/* ---------- Reusable ---------- */

.container {
    width: 100%;
}

.row {
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 var(--spacing-12);
}

section,
footer {
    padding: var(--spacing-14) 0;
}

/* Nav */

.nav__link {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-500);
    line-height: var(--spacing-4);
    color: var(--text-color-20);
}

.cta-link {
    font-size: var(--font-size-5);
    line-height: var(--line-height-5);
    font-weight: var(--font-weight-500);
    color: var(--blue-90);

    display: flex;
    align-items: center;
    gap: var(--spacing-4);
    transition: gap 0.3s;
}

.cta-link:hover {
    gap: var(--spacing-5);
}

img.cta-link__arrow {
    height: 2.1rem;
    width: auto;
}
/* Buttons */

.btn {
    font-family: "Inter", sans-serif;
    border-radius: var(--spacing-3);
    border: none;
    padding: 0 var(--spacing-6);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-5);
}

.btn-full-width {
    width: 100%;
}

.btn-sm {
    height: var(--btn-sm-height);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-500);
}

.btn-lg {
    height: var(--btn-lg-height);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-600);
}

.btn-primary {
    background-color: var(--blue-90);
    color: var(--white);
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: var(--blue-100);
}

.btn-secondary {
    background-color: var(--blue-10);
    color: var(--blue-90);
    transition: background-color 0.3s;
}

.btn-secondary:hover {
    background-color: var(--blue-20);
}

/* Slider */

#slider-checkbox {
    display: none;
}
.slider__track {
    display: flex;
    align-items: center;
    padding: 0 0.7rem;
    height: 4.1rem;
    width: 9.1rem;
    background-color: var(--bg-color-30);
    border-radius: 3.3rem;
    cursor: pointer;
    transition: all 0.2s;
}

.slider__thumb {
    display: block;
    height: 3rem;
    width: 3rem;
    background-color: var(--bg-color-10);
    border-radius: 50%;
    transition: all 0.2s;
}

#slider-checkbox:checked + .slider__track {
    background-color: var(--green-100);
}

#slider-checkbox:checked + .slider__track .slider__thumb {
    margin-left: 4.7rem;
}

/* Typography */

h2 {
    font-size: var(--font-size-11);
    line-height: var(--line-height-11);
    color: var(--text-color-40);
    font-weight: var(--font-weight-600);
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-600);
    color: var(--text-color-40);
}

h4 {
    font-size: var(--font-size-9);
    line-height: var(--line-height-9);
}

h5 {
    font-size: var(--font-size-8);
    line-height: var(--line-height-8);
}

h6 {
    font-size: var(--font-size-7);
    line-height: var(--line-height-7);
}

.heading-1 {
    font-size: var(--font-size-12);
    color: var(--text-color-40);
    line-height: var(--line-height-12);
    font-weight: var(--font-weight-600);
}

.sub-heading-1 {
    font-size: var(--font-size-5);
    color: var(--text-color-20);
    line-height: var(--line-height-5);
    font-weight: var(--font-weight-400);
}
.sub-heading-2 {
    font-size: var(--font-size-5);
    line-height: var(--line-height-5);
    color: var(--text-color-20);
    font-weight: var(--font-weight-400);
}

.centered-h2 {
    text-align: center;
    max-width: 78rem;
    margin: 0 auto;
    margin-bottom: var(--spacing-7);
}

.centered-subheading-2 {
    text-align: center;
    max-width: 78rem;
    margin: 0 auto;
    margin-bottom: var(--spacing-11);
}
